<!-- Page -->
  <div class="page">
    <div class="page-header text-center">
      <h1 class="page-title">Page Title</h1>
      <p class="page-description">
        Page Description Here.
      </p>
    </div>
    <div class="page-content">
    	<div class="panel">
	        <header class="panel-heading">
	          <h3 class="panel-title">Add Row</h3>
	        </header>
	        <div id="exampleTableAddToolbar">
	        	<%= link_to(new_admin_city_path(), class: "btn btn-outline btn-primary") do %>
	        	<i class="icon wb-plus" aria-hidden="true"></i> Add row
	        	<% end %>
	        </div>
	        <div class="panel-body">
	          <table class="table table-hover dataTable table-striped width-full" id="exampleTableAdd">
	            <thead>
	              <tr>
	                <th>City Name</th>
	                <th>State Name</th>
	                <th>Image</th>
	                <th>Actions</th>
	              </tr>
	            </thead>
	            <tfoot>
	              <tr>
	                <th>City Name</th>
	                <th>State Name</th>
	                <th>Image</th>
	                <th>Actions</th>
	              </tr>
	            </tfoot>
	            <tbody>
	            	<% @cities.each do |city| %>
	            	<% if city.thumbnail.attachment.present? %>
	            	<tr>
	                	<td><%= city[:name] %></td>
	                	<td><%= city[:state_name] %></td>
	                	<td><%= image_tag rails_blob_path(city.thumbnail.blob), style: 'width=50;height=50;' %></td>
	                	<td><%= link_to 'edit', edit_admin_city_path(city.id) %> | <%= link_to 'delete', delete_admin_city_path(city.id) %></td>
	                </tr>
	                <% else %>
	                <tr>
	                	<td><%= city[:name] %></td>
	                	<td><%= city[:state_name] %></td>
	                	<td>No image</td>
	                	<td><%= link_to 'edit', edit_admin_city_path(city.id) %> | <%= link_to 'delete', delete_admin_city_path(city.id) %></td>
	                </tr>
	                <% end %>
	                <% end %>
	            </tbody>
	          </table>
	        </div>
	    </div>
    </div>
  </div>
  <!-- End Page -->