<!DOCTYPE html>
<html>
  <head>
    <title>Foodpanda</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'navbar' %>   
    <%= render 'search' %>   
    <%= yield %>
    <!-- Footer -->
    <%= render 'app_footer' %>      
    <!-- Footer -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>